
<h1>{{title}}</h1>

  <!--<script src="aabb-collider.js"></script>
  <script src="grab.js"></script>
  <script src="ground.js"></script>-->

<div id="HomeWrapper">

    <a-scene id="Scene">

    <!-- This is where all the textures are -->
    
    <a-assets>
        <img id="box" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/233187/crate-texture.jpg" crossorigin="anonymous">
        <img id="walls" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/233187/brick-texture.jpg" crossorigin="anonymous">
        <img id="ceiling" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/233187/wood-texture.jpg" crossorigin="anonymous">
        <img id="floor" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/233187/tile-texture.jpg" crossorigin="true">

        <a-mixin id="cube"
                 geometry="primitive: box; height: 0.30; width: 0.30; depth: 0.30"
                 material="color: #EF2D5E;"></a-mixin>
        <a-mixin id="cube-collided"
                 material="color: #F2E646;"></a-mixin>
        <a-mixin id="cube-grabbed"
                 material="color: #F2E646;"></a-mixin>

    </a-assets>

    <!--this is the camera and the Gear Controller section -->
    
    <a-entity id="rightHand" hand-controls="right"></a-entity>
    <a-entity id="player" camera="userHeight: 1.6" look-controls wasd-controls position="0 0 0">

        <a-entity tracked-controls="controller: 0; idPrefix: OpenVR;"></a-entity>

        <a-entity gearvr-controls id="GearVrController">
            
                <a-entity class="cursor" cursor="fuse: false; fuseTimeout: 500; downEvents: gamepadbuttondown; upEvents: gamepadbuttonup;"
                            position="0 0 -2"
                            geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03"
                            material="color: purple; shader: flat">
                </a-entity>
                
                 <a-entity id="Wand" geometry="primitive: box; height: 0.1; width: 0.1" position=".1 -1.5 -.4"
            material="color: #49311c; opacity: 1" rotation="45 0 0" ></a-entity>

        </a-entity>

    </a-entity>
        
  
    <!-- level begin -->

    <!-- <a-entity id="hexagon" class="cube" mixin="cube" position="3 1.65 0"></a-entity> -->

    <a-entity id="start" material="color: green"  mixin="cube" position="2 1.65 2"></a-entity>
    <!-- <a-entity class="G1Enemy" material="color: orange"  mixin="cube" position="2 1.65 2"></a-entity> -->

    <a-box color="#FFF" width="1.5" height="1.5" depth="1.5"
            position="-5 0.1 0" rotation="0 45 0" 
            src="#box">
    </a-box>
    <a-box color="#FFF" width="1.5" height="1.5" depth="1.5"
            position="5 .2 -4" rotation="0 -45 0" 
            src="#box">
    </a-box>
    <!-- Top Box -->
    <a-box color="#FFF" width="1.5" height="1.5" depth="1.5"
            position="5 1.7 -4" rotation="0 25 0" 
            src="#box">
    </a-box>
    
    <!-- Walls -->
    <a-box color="#FFF" width="20" height="20"
            position="-10 0 0" rotation="0 90 0" 
            src="#walls">
    </a-box>
    <a-box color="#FFF" width="20" height="20" position="0 0 -10" src="#walls">
    </a-box>
    <a-box color="#FFF" width="20" height="20" position="10 0 0" rotation="0 90 0" src="#walls">
    </a-box>
    <a-box color="#FFF" width="20" height="20" position="0 0 10" src="#walls">
    </a-box>
    <!-- Ceiling -->
    <a-box color="#FFF" width="20" height="20" position="0 10 0" rotation="90 0 0" src="#ceiling"></a-box>

    <!-- New lights. -->
    <!--<a-light type="spot" color="#fff" position="5 5 3" look-at="a-box" intensity="1.5"> </a-light>
    <a-light type="point" color="#AAA" position="-5 5 7" intensity="0.375"></a-light>-->
    
    <!-- Sky / Background -->
    <a-sky color="#000"></a-sky>

    <!-- <a-plane id="ForwardBox" rotation="-90 0 0" position="1 -.5 0" color="green" width="1" height="1" depth="2"></a-plane> -->
    
    <!-- Floor -->
    <a-plane rotation="-90 0 0" position="2 -1 -2" color="#aaa" width="60" height="50" depth="2" src="#floor"></a-plane>

    <!-- level end -->


    </a-scene>

    

    

</div>

